@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');



.para{
    font-size: 20px;
}

.big-letter{
    font-size: 60px;
    font-family:'Roboto Condensed';
    color:white;
}


.title{
    text-align: center;
    font-family: 'Story Script';
    color:antiquewhite;
}


.tr3{
    text-align: center;
    font-family: 'Roboto Condensed';
    color:bisque;

}

.nav {
    display: flex;
    justify-content: center; /* center the nav block itself */
    align-items: center;
    
}

.navigation {
    display: flex;
    gap: 50px; /* evenly space out each link */
    text-decoration: none;
}

.a1, .a2, .a3{
    font-size: 25px;

    color:wheat;

    font-family:'Roboto Condensed';
}


body{
    background-image: url(assets/background.jpg);
}